@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.class-label {
    margin-bottom: 5px;
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

select {
    padding: 3px;
    height: 30px;
    background-color: white;
}

.hr {
    width: 90%;
    border: 1px solid gray;
    margin: 100px auto;
}

.change-log {
    margin-top: 80px;
    margin-left: 100px;
}

.topbar {
    height: 130px;
    padding: 30px 30px 0 30px;
    margin-bottom: 50px;
    font-weight: bolder;
    text-align: center;
    background-color: #211f5e;
    color: white;
}

.top-container {
    display: flex;
    flex-direction: row;
}

.top-text {
    flex-grow: 2;
}

.top-img {
    width: 5.5em;
    height: 5.7em;
}

.type-select {
    width: 200px;
    height: 40px;
}

.type-select2 {
    width: 300px;
    height: 40px;
}

.type-select3 {
    padding: 5px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.input-place {
    margin-bottom: 50px;
}

#coin-result {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    font-size: 30px;
    border: none;
    width: 100px;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  .credit-text {
      margin-top: 125px;
      font-style: italic;
      text-align: center;
  }

  .mid-text {
    font-style: italic;
    text-align: center;
}

  .mercy-text {
    margin-bottom: 50px;
    font-style: italic;
    text-align: center;
}

a:link {
    text-decoration: none;
}
